html {
  font-size: 20px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;

}

h1 {
  font-size: 2rem;
  color: #AF30DC;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  align-items: center;
  justify-content: start;  
  z-index: -1;
}

.page-container {
  position: relative;
}

.seccion_preguntas {
  padding: 80px 120px;
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  color: #4E4351;
}

#preguntas {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.items {
  margin: 0 0 120px 0;
  padding: 60px 80px;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0px 3px 11px -5px #919191;
}

.respuestas {
  font-size: 1rem;
  margin-left: 50px;
  margin-bottom: 20px
}

.items li:nth-child(2) {
  margin-top: 50px;
}

.titulo-pregunta {
  font-size: 1.3rem;
}

.respuestas label {
  margin: 0 0 0 10px;
}

#boton-corregir {
  font-size: 1rem;
  background-color: #bc24f3;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #919191;
}

#boton-corregir:hover {
  background-color: #c442f3;
  transition: background-color 0.1s ease-in; 
}

.popup-container {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%; 
  opacity: 0;
  transition: visibility 0.7s, opacity 0.6s ease-out;
}

.correccion-popup {  
  display: flex;
  font-size: 1rem;
  justify-content: center;
  flex-direction: column;
  position: fixed;  
  background-color: #ececec; 
  top: 25vh;  
  padding: 80px 70px 40px;
  border-radius: 5px;
  box-shadow: 0px 3px 500px 200px #d5d5d5; 
  z-index: 1;   
}

.correccion-popup p {
  display: flex;
  align-self: center;
}

.fadein {
  opacity: 100;
  visibility: visible;
  transition: opacity 1s cubic-bezier(0.27, 0.68, 0.47, 0.99);
}

#btn-cerrar {
  font-size: 1rem;
  background-color: #5d77eb;
  color: white;
  padding: 10px 10px;
  margin: 40px 0 0 0;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #919191;
  align-self: center;
}

#btn-cerrar:hover {  
  background-color: #6f84e2;  
}

.incorrecta {
  color: red;
  font-weight: 700;
}

.corregida {
  color:green;
  font-weight: 700;
}

.btn-container {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

#boton-resetear {
  font-size: 1rem;
  background-color: #f32424;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #919191;
}

#boton-resetear:hover {
  background-color: #f15c5c;
  transition: background-color 0.1s ease-in; 
}

.ocultar-examen {
  display: none;
}

main {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  align-items: center;
  justify-content: center;
}

main p {
  margin: 20px 0;
}

form[name=generarExamen] {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

form[name=generarExamen] label {
  margin: 0 20px;
}

#quiz {
  flex-grow: 1;
  font-size: 1rem;
  background-color:#24cb10;
  color: white;
  margin: 50px 0 0 0;
  padding: 15px 20px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #919191;
}

#quiz:hover {  
  background-color:#1ae403;  
}

#examen {
  margin: 0 0 90px 0;
}

footer {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;  
  bottom: 10px;
  width: 100%;
  height: 5rem;  
}

#gh-logo {
  width: 100%;
}
.logo-container {
  width: 40px;  
  justify-self: end;
  position: absolute;
  right: 20px;
}

#cantidad-preguntas {
  width: 110px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 15px; 
  }

  body {
    padding: 5px 5px;
  }

  main {
    padding: 0 10px;
    margin-bottom: -5rem;
    padding-bottom: 5rem;
    min-height: 100%;
  }

  main p {
    text-align: center;
  }

  form[name=generarExamen] {
    flex-direction: column;
    margin: 10px 0;
  }

  form[name=generarExamen] label {
    margin: 10px 0px;
  }

  #quiz {
    margin: 20px 0 0 0;
  }

  #examen {
    margin: 0 0 20px 0;
  }

  .seccion_preguntas {
    padding: 0 0;
  }
  .items {
    margin: 0 0 60px 0;
    padding: 20px 10px;
  }
  .items li:nth-child(2) {
    margin-top: 20px;
  }
  .respuestas {
    font-size: 1rem;
    margin-left: 5px;
    margin-bottom: 20px
  }

  .btn-container {
    width: 60%;
  }

  footer {
    position: relative;
    bottom : 0;
  }


}